@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--Light-grayish-blue);
    padding: 60px 0px;
    font-family: 'Barlow Semi Condensed';
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 80px 30px;
}

.heading img {
    border-radius: 50%;
    width: 45px;
}

.heading {
    display: flex;
}

.top {
    display: flex;
}

.bottom {
    display: flex;
}

.box-1 {
    background-color: var(--Moderate-violet);
    position: relative;
    z-index: 2;
}

.box-2 {
    background-color: var(--Very-dark-grayish-blue);
}

.box-3 {
    background-color: var(--White);
}

.box-4 {
    background-color: var(--Very-dark-blackish-blue);
}

.box-5 {
    background-color: var(--White);
    width: 75%;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    margin-right: 2rem;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.box-1 h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--White);
    font-weight: 600;
}

.box-2 h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--White);
    font-weight: 600;
}

.box-3 h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--Very-dark-grayish-blue);
    font-weight: 600;
}

.box-4 h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--White);
    font-weight: 600;
}

.box-5 h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--Very-dark-grayish-blue);
    font-weight: 600;
}

.same-style {
    margin-left: 1.3rem;
}

.same-style p {
    color: var(--White);
}

.same-style span {
    color: var(--Light-gray);
    opacity: 50%;
}

.same-style-2 {
    margin-left: 1.3rem;
}

.same-style-2 p {
    color: var(--Very-dark-blackish-blue);
}

.same-style-2 span {
    color: var(--Light-gray);
    opacity: 90%;
}

.p-change {
    color: var(--Very-dark-blackish-blue);
    font-weight: 500;
    opacity: 70%;
    line-height: 1.1;
}

.p-change-124 {
    color: var(--White);
    font-weight: 500;
    opacity: 60%;
    line-height: 1.1;
}

.quotes {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: -1;
    width: 22%;
}

@media (max-width: 768px) {
    .container {
        padding-top: 0px;
        width: auto;
        flex-direction: column;
    }

    .top {
        flex-direction: column;
    }

    .bottom {
        flex-direction: column;
    }

    /* NO EASY METHOD I COULD FIND :( */
    .box-5 {
        width: auto;
    }

    .box-4 {
        width: 100%;
    }

    .box-3 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
    }

    .box-1 {
        width: 100%;
    }

}